html,
body {
    font-size: 13px;
    font-family:'Roboto Mono',monospace;
}

.site {
    width: 475px;
    max-width: 100%;
    /* word-wrap: break-word; */
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    margin-top: 5vh;
}

.site-header {
    margin-top: 18px;
    font-family:'Roboto Mono',monospace;
    /* margin-bottom: 20px; */
}

.site-header-title {
    font-weight: bold;
    float:left;
    color: #aa2d1d;
}

.site-header-nav {
    float: right;
}

img {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
}

a {
    text-decoration: underline;
    color: #6767d8 !important ;
}

a:hover {
    color: #6767d8 !important;
}

a:visited {
    color: #6767d8 !important;
}

p {
    color: #252525;
}

.updated {
    text-align: right;
    color: rgb(100, 100, 100);
}