html,
body {
    font-size: 14px;
    font-family:'Roboto Mono',monospace;
}

.site {
    width: 520px;
    max-width: 88%;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    margin-top: 5vh;
}

.site-header {
    color: #aa2d1d;
    margin-top: 18px;
    font-family:'Roboto Mono',monospace;
    margin-bottom: 20px;
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: #6767d8 !important ;
}

a:hover {
    color: #6767d8 !important;
}

a:visited {
    color: #6767d8 !important;
}

p {
    color: #252525;
}

.updated {
    text-align: right;
    color: rgb(100, 100, 100);
}